<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetMealDishMapper">
    <!--    删除操作中的 :
            查询菜品是否关联了套餐-->
    <select id="selectByDishIds" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
            <foreach collection="dishIds" item="dishId" separator="," open="(" close=")">
                #{dishId}
            </foreach>
    </select>

<!--    向套餐菜品表中插入n条数据-->
    <insert id="insertBatch">
        insert into setmeal_dish (setmeal_id, dish_id, name, price, copies) values
            <foreach collection="setmealDishes" item="sD" separator=",">
                (#{sD.setmealId}, #{sD.dishId}, #{sD.name}, #{sD.price}, #{sD.copies})
            </foreach>
    </insert>

<!--    批量删除套餐 : -->
<!--    批量删除与套餐关联的菜品-->
    <delete id="deleteWithDishBatch">
        delete from setmeal_dish where setmeal_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
